body{
    background-color: rgb(228, 244, 247);
    display: flex;       
    align-content: stretch;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

header{
    display: flex;       
    align-items: center;
    justify-content: center;

    h1{
        text-align: center;
    }

    input, button{
        margin: 10px;
    }

    #locationBtn{
        border: 1px solid green;
        background: none;
        color: green;
        height: 40px;
        border-radius: 5px;
        width: 200px;
        &:hover{
            background: green;
            color: #fff;
        }
    }

}



#weatherNaw{
    list-style-type: none;
    
    #infoWeather{
        border: 1px solid rgb(203, 203, 203);
        border-radius: 3px;
        background-color: rgb(146, 214, 246);
        // color: #fff;
        width: 400px;
        height: 400px;
        display: flex;       
        align-content: stretch;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        img{
            width: 150px;
            height: 150px;
        }
    
    }

}


#info5Day table, td{
    border: 1px solid rgb(203, 203, 203);
    border-radius: 3px;
    background-color: rgb(146, 214, 246);

}